*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
 
/**/

.headerContainer{
  width: 100%;
  height: 80px;
  display: block;
  background-image: url(banner.png);
  background-color: #ff6781;
}

.innerHeader{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

/**/

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #262626;
  font-family: "comic sans", arial, "times new roman";
  font-size: 18px;
}

.navigation a:visited li{
  color: #77DD77;
}

/**/

.footerContainer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #262626;
}

.innerFooter{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.innerFooter .notice{
  text-align: center;
  font-family: "comic sans", arial, "times new roman";
  color: #fffafa;
  width: calc(21.666666667% - 20px);
  margin-right: 150px;
  font-weight: 400;
  float: left;
  height: 100%;
}

.innerFooter .footerThird{
  width: calc(21.666666667% - 20px);
  margin-right: 25px;
  float: left;
  height: 100%;
}

.innerFooter .footerThird:last-child{
  margin-right: 0;
}

.innerFooter .footerThird h1{
  font-family: "comic sans", arial, "times new roman";
  font-size: 18px;
  color: #fffafa;
  display: block;
  width: 100%;
}

.innerFooter .footerThird a{
  vertical-align: middle;
  font-family: "comic sans", arial, "times new roman";
  font-size: 18px;
  color: #fffafa;
  display: block;
  font-weight: 100;
  width: 100%;
  padding-bottom: 5px;
}

@media(max-width: 450px){
  .footerContainer .innerFooter{
    width: 90%;
  }
  .innerFooter .notice,
  .innerFooter .footerThird{
    width: 100%;
    margin-bottom: 30px;
  }
}
